@tailwind base;

@font-face {
  font-family: Ubuntu;
  src: url("/Ubuntu.ttf");
  font-style: normal;
  font-variation-settings: 'wght' 500;
  font-variation-ligatures: normal;
  font-weight: 200 800;
}

body {
  @apply font-ubuntu text-lg text-black bg-primary;
}

nav {
  @apply flex w-full justify-between bg-primary p-2;
  left {
    @apply flex items-center;
    img {
      @apply transform -translate-y-1;
    }
    * {
      @apply px-1 inline-block;
    }
  }
  right {
    @apply ml-auto items-center gap-4 flex;
  }
  * {
    img {
      @apply h-[5vh] inline-block;
    }
  }
}

h1 {
  @apply font-light text-8xl pb-1;
}

button {
  @apply p-2 m-0.5 rounded-md border-none text-white bg-secondary hover:text-white hover:bg-tertiary transition;
}

container {
  @apply h-[90vh] grid grid-cols-1 lg:grid-cols-3 bg-primary;
  left {
    @apply lg:flex lg:text-right flex-row-reverse text-center items-center pr-3;
  }
  right {
    @apply flex lg:col-span-2;
    img {
      @apply w-[60vh] lg:w-[90vh] h-[60vh] lg:h-[90vh] overflow-hidden;
    }
  }
}

main {
  @apply prose lg:prose-lg dark:prose-invert mx-auto max-w-none py-4 px-20 bg-white dark:bg-black text-black dark:text-white;
}